.App {
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.products img {
  width: 800px;
  height: 550px;
}

.product {
  padding: 2em;
  margin: 3em;
}

.btn-primary {
  color: white;
  background-color: #56ccf2;
  border: none;
  border-radius: 1em;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin: 3px;
}

.btn-primary:hover {
  color: white;
  background-color: #39798f;
  cursor: pointer;
}

.cart-quantity {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  text-align: center;
  font-size: 1.2em;
  margin-right: 5px;
}

header {
  background-color: #333;
  height: 5em;
  padding-top: 0;
}
